body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    color: blue;
    font-size: 40px;
}

p img {
    width: 250px;
    margin: 15px;
}
.borer {
   border: 10px solid blueviolet;
 }
h2 {
    text-align: center;
    font-size: 30px;
}
main p {
    color:navy;
}
 .gg {
     color:brown
 }
